.container
  = turbo_frame_tag dom_id(@faq), data: {controller: @view} do
    %h2.title.is-2.has-text-centered.is-capitalized-first= t('edit', scope: 'faq', default: 'Edit faq')
    = render 'form', faq: @faq