= turbo_frame_tag 'faqs', class: 'rows' do
  - unless @faqs.blank?
    = render partial: 'home/faq', collection: @faqs, as: :faq, locals: {user_faq_ids: @user_faq_ids}
    .columns
      .column.is-full= "#{pagy_bulma_nav(@pagy)}".html_safe
  - else
    .columns
      .column.is-full.has-text-centered Nessuna faq trovata
