%h4.title.is-4.mt-6.mb-3= fas_icon('fas fa-book', text: t('definitions', scope: 'manual.definitions'))
%table.is-bordered.is-striped.mx-5.is-hoverable
  %thead
    %tr
      %th Termine, acronimo
      %th Descrizione
  %tbody
    %tr
      %td.has-text-weight-bold DSTR
      %td Responsabile struttura (responsabile di CN-LAB, responsabile di CN-COST, Capo Dipartimento BIO)
    %tr
      %td.has-text-weight-bold RSTR
      %td Referente struttura
    %tr
      %td.has-text-weight-bold DMAG
      %td Responsabile di una sub-struttura su cui ricade un Magazzino (Capo Area di CN-LAB, Responsabile Laboratori di Ozzano, Chioggia e Livorno)
    %tr
      %td.has-text-weight-bold RMAG
      %td Referente magazzino
    %tr
      %td.has-text-weight-bold OL
      %td Operatore di laboratorio
    %tr
      %td.has-text-weight-bold SGSP
      %td Scheda Generale singolo prodotto
    %tr
      %td.has-text-weight-bold SSic
      %td Scheda di Sicurezza del prodotto
    %tr
      %td.has-text-weight-bold SOI
      %td Scheda ordinativi interni
    %tr
      %td.has-text-weight-bold SCP
      %td Scheda consegna prodotti
    %tr
      %td.has-text-weight-bold SRnA
      %td Scheda richiesta nuovi acquisti
    %tr
      %td.has-text-weight-bold Magazzino
      %td Inventario virtuale del materiale acquistato
    %tr
      %td.has-text-weight-bold Web GUI
      %td Interfaccia grafica web del front end dell’applicativo
