%h4.title.is-4.mt-2.mb-3= fas_icon('fas fa-book', text: t('introduction', scope: 'manual.introduction'))
%p.has-text-justify Il progetto <b>#{Settings.title.to_s}</b> nasce dal'esigenza di gestione delle domande frequenti per permettere a tutti gli utenti di trovare aiuto il più velocemente possibile.
%p.has-text-justify L’utente avrà la disponibilità di strumenti per ricercare le domande frequenti e scaricare eventuali allegati.
%p.has-text-justify Il programma è stato appositamente sviluppato su piattaforma web per consentire l'accesso alle risorse tramite l'utilizzo di un comune browser web.
%p.has-text-justify.mt-3
  Nello specifico il sistema permette:
  %ul.child.disc.manual-body.mt-1
    %li.pl-4 Ricerca delle domande frequenti(faq) tramite testo libero e/o le categorie;
    %li.pl-4 Visualizzazione delle domande frequenti in evidenza;
    %li.pl-4 Visualizzazione delle domande frequenti più ricercate;
    %li.pl-4 Possibilità per gli utenti autenticati di inviare proposte da inserire nell'applicativo;
    %li.pl-4 Gestione delle domande frequenti per ciascun dipendente con diritti di editor;
    %li.pl-4 Possibilità di generare faq visibili a tutti, visibili solo al personale autenticato oppure visibili solo ai dipendenti assegnati a una specifico gruppo o struttura;
    %li.pl-4 Gestione degli utenti e dei ruoli;
    %li.pl-4 Comunicazioni tramite e-mail con gli utenti;
    %li.pl-4 Autenticazione SingleSignOn su sistema CAS Server;
    %li.pl-4 Documentazione applicativa completa(html);
    %li.pl-4 Manuale utente.
