%h4.title.is-4.mt-6.mb-3= fas_icon('fas fa-laptop', text: t('requirements', scope: 'manual.requirements'))
%ul.child
  %li{id: 'introduction_min_requirement'}
    %h5.title.is-5= fas_icon('fas fa-laptop', text: t('minimal', scope: 'manual.requirements'))
    %ul.circle.child
      %li Browser web liberamente scelto tra: Edge(ultime 2 versioni), Firefox(ultime 3 versioni), Chrome(ultime 3 versioni), Opera(ultime 2 versioni) e Safari(ultime 2 versioni);
      %li Internet Explorer 11 non è compatibile. Il suo utilizzo potrebbe non permettere una visualizzare corretta delle pagine;
      %li La modalità di compatibilità deve essere disattivata;
      %li Javascript abilitato;
      %li Cookie abilitati;
      %li Supporto ai certificati SSL;
      %li Accesso alla rete intranet ISPRA;
      %li Indirizzo di posta elettronica sul dominio isprambiente.it;
      %li Risoluzione schermo 1024x768.

  %li{id: 'introduction_requirement'}
    %h5.title.is-5= fas_icon('fas fa-laptop', text: t('recommended', scope: 'manual.requirements'))
    %ul.circle.child
      %li Browser web liberamente scelto tra: Edge(ultime 2 versioni), Firefox(ultime 3 versioni), Chrome(ultime 3 versioni), Opera(ultime 2 versioni) e Safari(ultime 2 versioni);
      %li Internet Explorer 11 non è compatibile. Il suo utilizzo potrebbe non permettere una visualizzare corretta delle pagine;
      %li La modalità di compatibilità deve essere disattivata;
      %li Javascript abilitato;
      %li Cookie abilitati;
      %li Supporto ai certificati SSL;
      %li Accesso alla rete intranet ISPRA;
      %li Indirizzo di posta elettronica sul dominio isprambiente.it;
      %li Risoluzione schermo 1280x1024.